@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>http-client-benchmark</title>
</head>
<body>
<div>
   <a href="@Url.Action("Failing")">Failing</a>
   <a href="@Url.Action("Throttled")">Throttled</a>
</div>
</body>
</html>
